.classpath
.project
bin/
target/classes/
target/test-classes/
*.kml
/target/
.settings/
*.atxa
*.dli
*.rpt
test-output/
.factorypath
oldjars/
*.jli
*.jar
*.bz2
src/main/java/com/dna/jopt/touroptimizer/java/examples/excluded/
.sts4-cache/classpath-data.json
*.json
misc/
